* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-base: #000000;
    --links-color: snow;
    --page-text-color: #FFFFFF;
    --open-discord-btn-bg: #5865F2;
    --card-bg: #19191e;
    --card-hover: #3a3a41;
    --tag-bg: #363643;
    margin: 0;
    background-color: var(--bg-base);
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

html,body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem 0 8rem;
    margin-top: 1rem;
}
.menu-nav{
    display: none;
}

.nav-logo-img{
    display: block;
    width: 14rem;
    height: 10rem;
}

.nav-links li {
    list-style: none;
    display: inline-block;
}

.nav-links li a {
    text-decoration: none;
    color: var(--links-color);
    font-size: 1.8rem;
    text-transform: capitalize;
    padding-right: 2.8rem;
}

.nav-links li a:hover {
    color: var(--open-discord-btn-bg);
    transition: all 0.3s ease-in-out;
}

.open-discord_btn {
    font-size: 2rem;
    text-transform: capitalize;
    width: 15rem;
    height: 5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--open-discord-btn-bg);
    font-weight: 800;
    border-radius: 20px;
}

.open-discord_btn:hover {
    cursor: pointer;
    background-color: var(--open-discord-btn-bg);
    color: snow;
    transition: all 0.3s ease-in-out;
}

.main-starting-box {
    width: 80vw;
    max-width: 80vw;
    height: 80rem;
    margin: 15rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.main_h1 {
    color: var(--page-text-color);
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 0.9;
}

.main_P {
    color: var(--page-text-color);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 3px;
}

.main_btn {
    width: 20rem;
    height: 10rem;
    background-color: var(--open-discord-btn-bg);
    color: var(--page-text-color);
    font-size: 2.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.main_btn:hover {
    cursor: pointer;
    background-color: snow;
    color: var(--open-discord-btn-bg);
    transition: all 0.3s ease-in-out;
}

.turnip_absolute,
.crown_absolute {
    display: inline-block;
    width: 20rem;
    height: 20rem;
}

.turnip_absolute {
    position: absolute;
    top: -5rem;
    right: -5rem;
}

.crown_absolute {
    position: absolute;
    bottom: -5rem;
    left: -5rem;
    display: inline-block;
    width: 25rem;
    height: 25rem;
}

.hq-images-box {
    width: 80vw;
    max-width: 80vw;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hq-image-1,
.hq-image-2,
.hq-image-3 {
    display: inline-block;
    width: 50rem;
    height: 50rem;
    border-radius: 80px;
}

.hq-image-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.hq-image-3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.work,
.play,
.chat-box {
    width: 50rem;
    height: 50rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.play,
.chat-box {
    color: var(--open-discord-btn-bg);
}

.robo-part_main-box {
    width: 80vw;
    height: 80rem;
    margin: 20rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.robo-h1 {
    color: var(--page-text-color);
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    text-align: center;
}

.robo-p {
    color: var(--page-text-color);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 3px;
}

.robo {
    width: 30.5rem;
    height: 30.5rem;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: robo-move 2s infinite;
}

@keyframes robo-move {
    0% {
        transform: translateY(0rem)
    }

    50% {
        transform: translateY(-2rem)
    }

    100% {
        transform: translateY(0rem);
    }
}

.egg {
    width: 30rem;
    height: 30rem;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: 5rem;
    left: -5rem;
}

.carriers-info-box {
    width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
    height: 80rem;
    margin-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
}

.clyde {
    display: inline-block;
    position: absolute;
    bottom: 10rem;
    width: 80rem;
    z-index: -1;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    opacity: 0.7;
}

.carriers-info-box h1 {
    color: var(--page-text-color);
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    text-align: center;
    line-height: 1;
}

.carriers-info-box p {
    color: var(--page-text-color);
    font-size: 2.1rem;
    letter-spacing: 2px;
    text-align: center;
}

.indicator-box {
    color: var(--page-text-color);
    width: 40rem;
    height: 10rem;
    border-radius: 14px;
    font-size: 2.8rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--card-bg);
}

.arrow-down {
    display: inline-block;
    width: 7rem;
}

.carriers-grid-main-box {
    width: 90vw;
    max-width: 90vw;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2rem;
    justify-items: center;
}

.grid-boxes {
    width: 65rem;
    height: 30rem;
    border-radius: 40px;
    background-color: var(--card-bg);
    color: var(--page-text-color);
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-left: 3.5rem;
    transition: all 0.5s ease-in-out;
}

.grid-boxes h3 {
    background-color: var(--tag-bg);
    padding: 1rem 2rem;
    border-radius: 14px;
}

.grid-boxes:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #2d3fff, 30%, #5e68ce 70%);
    transform: translateY(-1.1rem)
}

.discord-benefits-h1 {
    width: 50vw;
    height: max-content;
    color: var(--page-text-color);
    text-transform: uppercase;
    font-size: 4rem;
    margin: 30rem auto 10rem auto;
    text-align: center;
    line-height: 1;
}

.discord-benefits-box {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}

.benefits-img {
    display: inline-block;
    width: 12rem;
    height: 9rem;
    overflow: hidden;
}

.benefits-boxes {
    width: 60rem;
    height: 40rem;
    background-color: var(--card-bg);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 4rem;
    transition: all 1s ease;
}

.benefits-boxes:hover {
    cursor: pointer;
    background-color: var(--card-hover);
}

.benefits-boxes h2 {
    color: var(--page-text-color);
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 800;
}

.benefits-boxes p {
    color: rgb(192, 192, 192);
    font-size: 1.8rem;
}

.discord-hq-benefits-main_box {
    width: 80vw;
    max-width: 80vw;
    height: max-content;
    margin: 20rem auto 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
}

.discord-hq-benefits-main_box h1 {
    color: var(--page-text-color);
    text-transform: uppercase;
    font-size: 9rem;
    line-height: 0.9;
    text-align: center;
}

.discord-hq-benefits-main_box p {
    color: var(--page-text-color);
    font-size: 2.2rem;
    text-align: center;
    text-transform: capitalize;
}

.discord-hq-perks_main-box {
    width: 90vw;
    max-width: 90vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5rem;
    justify-items: center;
}

.perks-boxes {
    width: 40.8rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 0 0 0 4rem;
    background-color: var(--card-bg);
    border-radius: 40px;
    transition: all 0.8s ease;
}

.perks-boxes:hover {
    cursor: pointer;
    background-color: var(--card-hover);
    transform: scale(1.1);
    z-index: 2;
}

.perks-img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
}

.perks-boxes h2 {
    color: var(--page-text-color);
    text-transform: capitalize;
    font-size: 2.4rem;
}

.questions-text-main-box {
    width: 80vw;
    max-width: 80vw;
    height: max-content;
    margin: 30rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.questions-text-main-box h1 {
    color: var(--page-text-color);
    text-transform: uppercase;
    font-size: 9rem;
    text-align: center;
}

.questions-text-main-box p {
    color: var(--page-text-color);
    font-size: 2.2rem;
    text-align: center;
    text-transform: capitalize;
}

.questions-main-box {
    width: 90vw;
    max-width: 90vw;
    height: max-content;
    margin: 20rem auto 0 auto;
}

.questions-boxes {
    width: 100%;
    height: 20rem;
    color: var(--page-text-color);
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    padding: 0 2rem 0 0;
    border-top-color: var(--card-bg);
    border-bottom-color: var(--card-bg);
    border-left-width: 0;
    border-right-width: 0;
}

.questions-boxes:hover {
    cursor: pointer;
}

.q-img {
    display: inline-block;
    width: 4rem;
}

.hungry-main-box {
    width: 60vw;
    max-width: 80vw;
    height: 90rem;
    margin: 18rem auto 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
}

.hungry-main-box h1 {
    color: var(--page-text-color);
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    line-height: 1;
}

.hungry-main-box p {
    color: var(--page-text-color);
    font-size: 2.2rem;
    text-align: center;
    text-transform: capitalize;
}

.hungry-main-box button {
    display: block;
    width: 18rem;
    height: 7rem;
    border-radius: 14px;
    text-transform: capitalize;
    color: var(--page-text-color);
    background-color: var(--open-discord-btn-bg);
    font-size: 2rem;
    margin-top: 2rem;
}

.hungry-main-box button:hover {
    cursor: pointer;
    background-color: #6975fc;
}

.absolute-hungry,
.absolute-hungry-2 {
    display: inline-block;
    width: 25rem;
    aspect-ratio: 1/1;
    position: absolute;
}

.absolute-hungry {
    position: absolute;
    top: -5rem;
    left: -10rem;
}

.absolute-hungry-2 {
    position: absolute;
    bottom: -5rem;
    right: -5rem;
}

.main_footer-box {
    background: linear-gradient(180deg, #3944c8 0%, #5865f2 50%, #5865f2 100%);
    color: #ffffff;
    padding: 6rem 2rem;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.footer_discord-main-logo {
    width: 7rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.footer_discord-main-logo img {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.top_footer-language-changer_button {
    width: 20rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0rem 0rem 0rem 2rem;
    border-radius: 14px;
    background-color: rgba(255, 250, 250, 0.28);
}

.top_footer-language-changer_button p {
    font-size: 1.8rem;
}

.social_links-p {
    font-size: 2rem;
    letter-spacing: 0.04rem;
}

.social-icons-sep-div {
    width: 24rem;
    height: 10rem;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 2.2rem;
}

.social-links_div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.footer-top-part {
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.social-and-language-changer-div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.p-c-r-p_part-footer-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.p-c-r-p_directing-links {
    text-decoration: none;
    color: snow;
    font-size: 1.4rem;
    text-transform: capitalize;
    padding-top: 2rem;
}

.p-c-r-p_links-tag {
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(137, 137, 137);
    display: block;
    margin-bottom: 1.4rem;
}

.p-c-r-p-grid_boxes {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-discord-logo {
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
}

